
.header {
	padding: 30px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #2b3f4c;
}

.fs-grid .fs-row {
	margin-left: auto;
	margin-right: auto;
}

.bar {
	padding: 70px 0;
}

.orange_bar {
	background: #e77e04 url(../images/intro_bg.jpg) no-repeat top center;
	min-width: 100%;
    margin: 100;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 70px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.paragrpah_orange {
	font-size: 20px;
	color: #fff;
}

.button {
	border-radius: 3px;
	display: inline-block;
	line-height: 1;
	padding: 15px 30px;
	text-align: center;
	width: 100%;
}

.download_button {
	background: #fff;
	color: #e77e04;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}

h4 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 26px;
	font-weight: 300;
	color: #e77e04;
	text-transform: uppercase;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 42px;
	font-weight: 300;
	color: #e77e04;
}

.app_store_buttons {
	background: #000;
	color: #fff;
	margin-bottom: 10px;
	text-decoration: none;
}

.download_now_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #777;
}

.download_now_section {
	text-align: center;
}

.middle_text {
	font-size: 16px;
	color: #777;
}

.capturelife_bar {
	min-width: 100%;
    margin: 100;
	background: #eee;
}

h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 36px;
	font-weight: 300;
	color: #2b3f4c;
}

.bottom_links {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #2b3f4c;
	text-decoration: none;
}

.copyright {
	font-size: 16px;
	color: #777;
}
