
.header {
	padding: 30px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #2b3f4c;
	line-height: 60px;
}

.app_name:before {
	background: url(../images/icon_sprite.png) no-repeat 0 0;
	content: "";
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.fs-grid .fs-row {
	margin-left: auto;
	margin-right: auto;
}

.bar {
	padding: 80px 0;
}

.orange_bar {
	background: #e77e04 url(../images/intro_bg.jpg) no-repeat top center;
	min-width: 100%;
    margin: 100;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 70px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.paragrpah_orange {
	font-size: 20px;
	color: #fff;
}

.button {
	border-radius: 3px;
	display: inline-block;
	line-height: 1;
	padding: 15px 30px;
	text-align: center;
	width: 100%;
}

.download_button {
	background: #fff;
	color: #e77e04;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}

.feature_heading:before, 
.feature_heading:after {
	background: url(../images/icon_sprite.png) no-repeat;
	content: "";	
}

.feature_heading:after {
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	margin: 0 0 0 10px;
}

.feature_tag .feature_heading:after {
	background-position: 0 -80px;
	height: 31px;
	width: 31px;
}

.feature_cloud .feature_heading:after {
	background-position: -40px -80px;
	height: 31px;
	width: 35px;
}

.feature_map .feature_heading:after {
	background-position: -80px -80px;
	height: 31px;
	width: 25px;
}

h4 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 26px;
	font-weight: 300;
	color: #e77e04;
	text-transform: uppercase;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 42px;
	font-weight: 300;
	color: #e77e04;
}

.app_store_buttons {
	background: #000;
	color: #fff;
	margin-bottom: 10px;
	text-decoration: none;
}

.download_now_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #777;
}

.download_now_section {
	text-align: center;
}

.middle_text {
	font-size: 16px;
	color: #777;
}

.capturelife_bar {
	min-width: 100%;
    margin: 100;
	background: #eee;
}

h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 36px;
	font-weight: 300;
	color: #2b3f4c;
}

.bottom_links {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #2b3f4c;
	text-decoration: none;
}

.copyright {
	font-size: 16px;
	color: #777;
}

/* Media Queries */

@media screen and (min-width: 740px) {

	.feature {
		text-align: center;
	}

	.feature_heading:after {
		display: none;
	}

	.feature_heading:before {
		display: block;
		margin: 0 auto 10px;
	}

	.feature_tag .feature_heading:before {
		background-position: 0 -120px;
		height: 64px;
		width: 64px;
	}

	.feature_cloud .feature_heading:before {
		background-position: -80px -114px;
		height: 64px;
		width: 72px;
	}

	.feature_map .feature_heading:before {
		background-position: -160px -120px;
		height: 64px;
		width: 50px;
	}

}
